.app {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: #fff;
}

.app header {
  padding: 20px;
  font-size: 2rem;
  margin-bottom: 30px;
}

.app main canvas {
  display: block;
  margin: 45px auto;
}

.app input,
.app select,
.app button {
  max-width: 425px;
}

.app button {
  margin-top: 50px;
  margin-bottom: 5px;
}

.app button:disabled {
  cursor: not-allowed;
}
